[2021-05-05 16:31] profteck opened #3 "Upgrade to latest msal/browser library breaks this sample"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

npm install @azure/msal-browser @azure/msal-angular@latest

Click Login In Button and log in - F12 and look at console window - it has an error when trying to get the claims.

### Any log messages given by the failure

core.js:6210 ERROR ClientAuthError: access_token_entity_null: Access token entity is null, please

[2021-05-05 18:14] derisen commented on #3
@profteck this is a [known issue](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3530) and a [fix will be coming](https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/3557) with the new release. For now, please downgrade to a previous version.

[2021-05-06 11:21] profteck commented on #3
What I've done is create a brand new project.  I've copied the ts / html / css files from your sample project. I'm fairly new to angular!!

This is how I tried to use an earlier version

     npm install @azure/msal-angular@2.0.0-beta.3 (installs ok)
     npm install @azure/msal-browser@2.13.1  (not found when I try to install)

So what I then tried is:

In the package.json file I've copied in thi

[2021-05-06 21:05] derisen commented on #3
@profteck no worries! here's how you should approach (no need to copy paste files):

1. delete `node_modules` folder and `package-lock.json` file
2. run `npm cache clean --force`
3. modify `package.json` as to have:

[code]
4. run `npm install` again

The alternative approach could be to apply the temporary fix [mentioned here](url). I'm assuming you are using sample 1.2)sign-in-b2c. There, modify

[2021-05-11 09:51] profteck commented on #3
Hi

thank you for replying.

I've tried the first option but still get the error.

The link to the work around is broken.

For the moment - I'm copying the node_modules folder from your sample and then installing any library I need - not using the full npm install and that works.

Thanks
Ann

[2021-05-11 19:01] derisen commented on #3
@profteck apologies, [here's the correct link](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3530#issuecomment-827962523) for the workaround

[2021-05-12 23:49] derisen commented on #3
@profteck a new version msal-browser and msal-angular [just released](https://github.com/AzureAD/microsoft-authentication-library-for-js/releases). This should fix the issue, can you update your packages to the latest and give it a try again?

[2021-05-13 08:51] profteck commented on #3
Hi

I tried that and yes, the error that I was having has gone.  One thing I have noticed - I'm using your sample project - "ms-identity-javascript-angular-tutorial-main\3-Authorization-II\2-call-api-b2c\SPA".
Before you log in, you get this screen:
![image](https://user-images.githubusercontent.com/20577514/118101664-bd45c300-b3cf-11eb-82b0-2bd0083ed983.png)

After you log in - it used to display

[2021-05-13 20:03] derisen commented on #3
@profteck thanks for catching this! Will get this fixed in PR asap.

[2021-05-14 08:18] profteck commented on #3
Thanks a mill.  Your samples really do help me to understand the concepts.

[2021-05-15 18:55] #3 closed

[2021-05-20 16:22] jeromechrist opened #6 "Question - multiple consents needed"
# Issue

## This issue is for the sample

[code]

## This issue is for a

[code]

### Minimal steps to reproduce

Hello,

I went through the scenario 3-1 and i was wondering why do I have to consent 2 times ?

I had one popup after the Login
<img width="722" alt="010-consent" src="https://user-images.githubusercontent.com/2547646/119014555-61170c00-b998-11eb-83f5-8d5a79d57395.png">

And one when I

[2021-05-20 23:57] derisen commented on #6
@jeromechrist this is expected. What happens here is called [dynamic consent](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent#request-the-permissions-in-the-app-registration-portal) i.e. the app presents you with a consent screen only when the permission is actually needed. The first permission screen is for scopes that are requested during sign-in: `open

[2021-05-27 08:03] jeromechrist commented on #6
ah ok I get it.

all of this scope check dance is made my the MSAL library only on the client side ? Or with the combination of Identity.Web in the API ?

[2021-05-27 20:48] derisen commented on #6
@jeromechrist that's right, this is carried out by MSAL Angular on the client side. Basically the user consents to the client app to access the web API on her behalf. The web API has no user interaction capability here, but if it was a user facing app, Identity.Web would have handled it (Identity.Web is a wrapper around MSAL .NET)

[2021-05-31 12:24] #6 closed

[2021-05-31 12:25] jeromechrist commented on #6
Thank you :)

Great samples by the way, I really like that you covered a lot of useful scenarios

[2021-05-31 17:18] jeromechrist opened #7 "scenario 3 - protect and call web api on azure ad b2c - infinite loop"
# Issue

## This issue is for the sample

[code]

## This issue is for a

[code]

### Minimal steps to reproduce

### Any log messages given by the failure

### Expected/desired behavior

### Library version

### Browser and version

### Mention any other details that might be useful

I can login fine (I had to go to the portal first and configure the sign in policy to allow the user to self reset

[2021-05-31 17:35] gwenael-louandre opened #8 "Error invalid_token - The audience is invalid"
# Issue

The front authentication is well but when I request the backend I have a 401 response with :

www-authenticate | Bearer error="invalid_token", error_description="The audience 'xxxxxxx' is invalid"
-- | --

## This issue is for the sample

[code]

## This issue is for a

[code]

### Minimal steps to reproduce

### Any log messages given by the failure

{
  "aud": "xxxxxxxxx",
  "iss": "htt

[2021-06-01 03:26] derisen commented on #8
@gwenael-louandre can you share your configuration file for the SPA and API? Also any logs in the browser console would be useful.

The audience in the token should be the same with the Client Id of your backend. Basically these values should be equal:

- `aud` claim in your token (does it look like `api://xxxxx` or just `xxxxx`)
- `ClientId` in _API/appsettings.json_
- `protectedResources.todoLis

[2021-06-01 03:34] derisen commented on #7
@jeromechrist thank you very much for the details and the repro link, I was able to reproduce the issue. I'll get back to you as soon as I figure this out.

[2021-06-01 13:02] gwenael-louandre commented on #8
Hello,
Thanks for your answer.

Here is my auth-config.ts :
![image](https://user-images.githubusercontent.com/4600171/120324558-0f9b4500-c2e7-11eb-83b5-c4b24c4e939d.png)

Here is the appsettings.json :
![image](https://user-images.githubusercontent.com/4600171/120324727-3c4f5c80-c2e7-11eb-8554-66d76409b303.png)

Here is the Azure SPA configuration :
![image](https://user-images.githubusercontent.

[2021-06-01 18:40] derisen commented on #8
@gwenael-louandre it looks like `ClientId` in `API/appsettings.json` doesn't match the Application (client) Id on Azure portal (screenshot for Azure API configuration). Can you double check that?

[2021-06-01 22:06] jeromechrist commented on #7
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/2547646/120395435-45ffb100-c335-11eb-8cc2-75c02adff755.png">

I just clicked that grant permission button and I can access the APIs feature fine.

But there is still a loop when I click on "Edit Profile"

https://user-images.githubusercontent.com/2547646/120396169-611ef080-c336-11eb-90d1-7491f3ca7699.mov

[2021-06-01 23:11] derisen commented on #7
@jeromechrist strange, I can reproduce this with the edit user-flow you've set up, but not with my edit user-flow. I'm suspecting this is to do with your configuration. Have you configured any [user attributes and/or application claims](https://docs.microsoft.com/en-us/azure/active-directory-b2c/configure-user-input?pivots=b2c-user-flow)? It might be that there is no attribute/claim to edit, which

[2021-06-02 11:18] gwenael-louandre commented on #8
Thanks! That was my problem. I mixed two projects I worked at the same time.
On the other hand, I have a question about one step in demo. In the Register the client app (msal-angular-spa) paragraph after creating the client app, I added a single page application platform in the 'Authentication' Azure menu. I think if we don't declare this kind of platform the msal-angular doesn't work. Am I wrong?

[2021-06-02 12:57] derisen commented on #8
@gwenael-louandre that's right, msal-angular is using [auth code flow with PKCE](https://datatracker.ietf.org/doc/html/rfc7636) for getting tokens, which Azure AD handles via setting the platform to "Single-page application".

[2021-06-02 13:16] jeromechrist commented on #7
@derisen yep that was the case, I did selected claims in "Application claims" but no in "User attributes". After setting a few it works !
<img width="1440" alt="Screenshot 2021-06-02 at 15 13 16" src="https://user-images.githubusercontent.com/2547646/120486498-6707e680-c3b5-11eb-8ea7-b1c26415b0d7.png">
<img width="1440" alt="Screenshot 2021-06-02 at 15 13 36" src="https://user-images.githubusercon

[2021-06-02 13:42] derisen commented on #7
@jeromechrist awesome! I'll update the sample README with the missing admin consent step and add some remarks about setting up user claims. Really appreciate all the details you provided in the issue -makes our lives easier : )

[2021-06-02 14:12] jeromechrist commented on #7
@derisen heyyyyy sorry, it did resolve the edit profile part but the loop is back on the API :confused:

https://user-images.githubusercontent.com/2547646/120495382-f1077d80-c3bc-11eb-847c-7484a5ae0739.mov

[2021-06-02 16:38] derisen commented on #7
@jeromechrist hmm, I'll check this with B2C team and get back to you. In the meantime, can you send me a network trace using [Fiddler](https://www.telerik.com/fiddler). My email is on my GitHub profile.

[2021-06-03 19:17] jeromechrist commented on #7
hey @derisen, sorry for the delay, just for the heck of it I tried another browser and it looks like this bug is happening on Safari only, no issues on Edge (dev channel)

on Safari the bug repro is 100%

https://user-images.githubusercontent.com/2547646/120699728-12e22c80-c4b1-11eb-9cb4-635d08c897bc.mov

[2021-06-04 02:35] derisen commented on #7
@jeromechrist Ok, I've just tested this on a Mac with Safari and I can reproduce it as well.

At this point, it would be best to raise this issue in the [main MSAL.js repo](https://github.com/AzureAD/microsoft-authentication-library-for-js), as this is likely to do with the msal-angular itself rather than the sample. I can't seem to transfer it, can you please [create a bug report](https://github.

[2021-06-04 09:47] jeromechrist commented on #7
Yep, created there https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3713

[2021-06-07 15:48] derisen commented on #8
Closing, let us know if you need further help

[2021-06-07 15:48] #8 closed

[2021-07-29 11:29] Lawliet0727 opened #11 "Error in Protect and call a web API on Azure AD 'invalid client id'"
# Error "invalid_client: 70002 - [2021-07-29 11:26:28Z]: AADSTS70002: The provided request must include a 'client_secret' input parameter"

## This issue is for the sample

[code]

## This issue is for a

[code]

### Minimal steps to reproduce
-login button
-after I redirect in microsoft login and successfully authenticated , it redirects me again in the homepage

### Any log messages given by the

[2021-07-29 15:22] derisen commented on #11
@Lawliet0727 looks like this is an app registration issue. Can you please confirm that, on **Azure portal** > **App Registration** > **Your app** > **Authentication**, the app is registered as "single page application", not "web"?

[2021-07-30 05:07] Lawliet0727 commented on #11
This is correct, the issue now are resolved I mistakenly register my app as "Web" and when I changed it on "SPA" it working fine.

Thanks @derisen

[2021-07-30 05:07] #11 closed

[2021-08-13 00:06] #7 closed

[2021-08-30 08:50] peterbomdev opened #29 "Bearer error="invalid_token", error_description="The signature key was not found""
# Issue

## This issue is for the sample

[code]

## This issue is for a

[code]

### Minimal steps to reproduce
I followed the steps, running the api in two diferent ways: from visual studio using IIS express and from the console as described in the steps.

### Any log messages given by the failure

I'm able to open the page, gets a bearer token, but when accessing the todolist page I get the fol

[2021-08-30 09:08] peterbomdev commented on #29
Also, when checking my JWT token, the KID (Key Id) is not present in the list I get from:

https://login.microsoftonline.com/{my tenant id}/discovery/v2.0/keys

it is only present when I request:
https://login.microsoftonline.com/{my tenant id}/discovery/v2.0/keys?appid={my api client id}

[2021-08-30 16:44] derisen commented on #29
@peterbomdev this is an error I haven't encountered before. As a first step, can you confirm that:

- you have trusted the development certificates ([see](https://github.com/Azure-Samples/ms-identity-javascript-angular-tutorial/tree/main/3-Authorization-II/1-call-api#step-3-trust-development-certificates))
- you have set the `accessTokenAcceptedVersion` to **2** in your web API registration

Pleas

[2021-09-03 14:29] MCKRUZ opened #37 "Cross-origin token redemption is permitted only for the 'Single-Page Application' client-type."
# Issue

This issue is for the sample ms-identity-javascript-angular-tutorial.  After following the instructions explicitly I am getting the following error when attempting to login.

ERROR ServerError: invalid_request: 9002326 - [2021-09-03 14:20:13Z]: AADSTS9002326: Cross-origin token redemption is permitted only for the 'Single-Page Application' client-type.
Trace ID: 40e5a04a-6016-42c3-b32f-0b

[2021-09-03 14:35] derisen commented on #37
@MCKRUZ thanks for catching the copy-paste mistakes, I'll get them fixed.

For the AADSTS9002326 error you're getting, have you registered your SPA's redirectUri as a "Single-page application", and not "Web" (**Authentication** blade on Azure portal). If yes, can you also confirm that there are no other redirectUri's there with the type of "Web"?

[2021-09-03 14:50] MCKRUZ commented on #37
oh also in the documentation you say to cd to API then run dotnet run but you really mean cd API/ProfileAPI then run it. :-)

[2021-09-03 14:53] MCKRUZ commented on #37
BTW I changed that to SPA and it worked now.  I would just change the PS script for future persons :-)

[2021-09-03 15:04] derisen commented on #37
Ah you were using the PS script. It (Azure AD ps module) is currently not capable of setting tge SPA type, so for the moment I've left a comment to go to portal and change it manually. I know this is not ideal and we'll find a solution soon.

Thanks a lot for catching these!

[2021-09-04 00:14] derisen commented on #37
Fixed the issues in README. Closing this now, let us know if you run into another issue.

[2021-09-04 00:14] #37 closed

[2021-09-14 00:54] Edenred-Sunil opened #39 "Azure B2C and Angular app (V 11.0)"
# Issue

I used the sample app from "ms-identity-javascript-angular-tutorial-main\3-Authorization-II\2-call-api-b2c" for a sample app. Login works fine and I can see the claims info (username, email account) but when I click on "TodoList" button, the app goes into a continuous loop/ redirect. Tried to create custom component with "handleRedirectObservable()" option but still no luck. Any help is a

[2021-09-14 17:03] derisen commented on #39
@Edenred-Sunil any chance you can share a short video or gif of the behavior, and share your authentication configuration details. I'm wondering if the issue is similar to [this](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/4058) or [this](https://github.com/Azure-Samples/ms-identity-javascript-angular-tutorial/issues/7).

Also, are you working on a Mac or Windows?

[2021-09-15 02:39] Edenred-Sunil commented on #39
Thank you for getting back to me. Yes, the issue is similar to the second link you have sent (https://github.com/Azure-Samples/ms-identity-javascript-angular-tutorial/issues/7). We have just signIn policy and password reset policy defined. Edit profile is disabled and commented out the code for it. Not sure if that info helps.  We are using signIn info in all the places where it expects "signUpSig

[2021-09-15 20:58] derisen commented on #39
Thanks a lot for the @Edenred-Sunil. Weird thing is that other issue occurred only on Safari with MacOS. I'll try to reproduce your issue to debug and get back to you, apologies for inconvenience.

[2021-09-16 13:22] jeevasusej commented on #29
Yeah, I have gone with hectic days because of this issue.

Can you please post your client side code?

To be worked as expected, need to use like
Instead of the scope " scopes: ['openid', 'profile', 'User.Read']"
I have used scopes: ['openid', 'api://xxxxxxxxxxx/access_as_user']

User.Read adds nonce. Because of this, the token become invalid.

[2021-09-16 14:42] Edenred-Sunil commented on #39
Really appreciate your help @derisen. I got it to work. Had to use scopes from a different app registration for API's (Backend) in the the web app code. Looks like MSAL.js checks for them. In SPA apps, web app and web api needs to have different app registrations and use scopes from them respectively.

**Note**: I got it to work from a WPF (Backend API) earlier with one single scopes from one app

[2021-09-16 18:15] derisen commented on #29
@jeevasusej ok that explains. You were sending the wrong access token to your web API, hence you got the "The signature key was not found" error. `User.Read` is a scope for Microsoft Graph, so the access token you get for that scope won't work for your web API. `api://xxxxxxxxxxx/access_as_user` is the scope you need to get an access token for to be able to call your backend.

When you request an

[2021-09-16 18:22] LuisGorla opened #40 "untrusted_authority issue when testing the sample with private B2C tenant"
# Issue

## This issue is for the sample

[code]

## This issue is for a

[code]

### Minimal steps to reproduce

### Any log messages given by the failure

ERROR Error: Uncaught (in promise): ClientAuthError: endpoints_resolution_error: Error: could not resolve endpoints. Please check network and try again. Detail: ClientConfigurationError: untrusted_authority: The provided authority is not a tru

[2021-09-16 18:26] LuisGorla commented on #40
Maybe this is a dumb question/issue. Sorry in advance if that's the case, I've implemented all the workarounds available by googling, and neither of those worked.

I've been following the documentation step by step and, as far as I know, I didn't miss any step.

Regards!

[2021-09-16 19:12] derisen commented on #39
@Edenred-Sunil Aah, that explains it! So when the app loaded the `TodoList` component, msal tried to acquire a token for it since that route is protected with `MsalGuard`. But because the scope for acquiring an access token for `TodoListAPI` was defective, it got null response (which should have been caught and handled -I'll look into this), then redirected back to the page where you attempted to

[2021-09-16 19:17] derisen commented on #40
hey @LuisGorla, looks like the value you entered for `b2cPolicies.authorityDomain` is wrong -it should be `<yourTenantName>.b2clogin.com` instead of `<yourTenantName>.onmicrosoft.com`. Can you change that and give it a try again?

[2021-09-16 19:48] LuisGorla commented on #40
You're right, thank you!

[2021-09-16 19:49] #40 closed

[2021-09-17 01:01] #39 closed

[2021-09-17 08:02] garvraj opened #41 "I am using angular 11 with msal version 1, Do u have any example for that."
I am using angular 11 with msal version 1, Do u have any example for that.

I am basically looking an example for logger as I have some issue with reset password

![image](https://user-images.githubusercontent.com/41892368/133747122-484c1284-ef77-40f2-80a6-bcce3bdebc57.png)

[2021-09-17 09:57] jeevasusej commented on #29
Yes @derisen. Thank you for your explanation.
I have mixed the scope and got the token for the graph API not for the web api . That's why I have asked him to post the client side code.
Because of that I have lost many hours to find it. I missed to see your information from the DOC.

In any case, can we use the token for web api that is intended for the Graph API?

[2021-09-17 17:44] derisen commented on #29
@jeevasusej no you can't. You'll need an access token for your web API (the `aud `claim in the token will be the `clientId `of your web API, and `scp `claim will be its scope that you've exposed during app registration).

The sample is already configured to do this. In `auth-config.ts`, we have the `protectedResources `object:

[code]

Then in `app.module.ts`, we set `protectedResourceMap` object:

[2021-09-17 17:51] derisen commented on #41
@garvraj if you can, please migrate to msal v2 as its more secure and msal v1 no longer receives updates (other than critical security updates).

We have an older sample using msal-angular v1, but unfortunately its angular 9, you can see it [here](https://github.com/Azure-Samples/active-directory-b2c-javascript-angular-spa/tree/master)

If you need an angular 11 app, there's one using msal-angular

[2021-09-20 03:05] jeevasusej commented on #29
Thank you @derisen

[2021-10-02 08:50] garvraj commented on #41
@derisen I am migrating to msal V2 and I am facing some difficulty, I don't want to use msal guard and msal interceptor.

But I have some authorized api calls, With msal V1, I used to get accesstoken from msal which I was using for further api call but in msal V2 I am not getting accesstoken instead I am getting idToken but with idToken api calls are saying unautorized , can you help me on this

[2021-10-02 23:14] derisen commented on #29
Closing this. Let us know if you have any other issues.

[2021-10-02 23:14] #29 closed

[2021-10-02 23:23] derisen commented on #41
@garvraj this is expected, you should not use Id token for API calls. You can certainly get an access token without using msal interceptor or guard. msal-angular exposes the same methods as regular msal, so you can use those to request an access token for certain scopes. In your component, simply instantiate an `MsalService` object, then use one of the [`acquireToken*` methods](https://github.com/

[2021-10-14 13:48] derisen commented on #41
Closing due to inactivity. Let us know if you need further help.

[2021-10-14 13:48] #41 closed

[2021-10-20 13:43] Edenred-Sunil opened #42 "Anonymous Authentication for a web page via Angular/Azure B2C app"
# Issue
When the "anonymousGarud" is applied to the lazy loading module and path, it is still requires the user be logged in. Only then, I see that anonymous web page & its working then only.

` { path: 'anon', loadChildren: () => import('./.../.../anon.module').then(m => m.anonModule), canLoad: [AnonymousGaurd] },
`

[code]

## This issue is for the sample

[code]

## This issue is for a

[code]

[2021-11-11 00:04] #42 closed

[2021-12-08 22:10] jag-sekhon opened #43 "Authorization header not getting added to http PUT and DELETE"
# Issue
Authorization header automatically gets added by HttpInterceptor to GET,POST and OPTIONS but we have to manually add it to PUT and DELETE request. If we don't add "Authorization: 'Bearer ' + token" to PUT and DELETE, then we get 401 Unauthorized error.

Openid-configuration returns Response Headers Allow: OPTIONS,TRACE,GET,HEAD and POST. Will that be an issue? We are using custom policies

[2021-12-23 16:15] jag-sekhon commented on #43
Still waiting for response on this one.

[2021-12-27 20:53] dmccolloughOneGas opened #44 "Angular app needs admin approval when trying to access API"
# Issue

## This issue is for the sample

[code]

## This issue is for a

[code]
I am having an issue with a Angular 12 app using MSALv2 based on the example at this location:
https://github.com/Azure-Samples/ms-identity-javascript-angular-tutorial/tree/main/3-Authorization-II/1-call-api

The Azure App Registration for the SPA asks for the following permissions:
Our API, access_as_user
Graph permi

[2022-01-10 14:17] Thnslj opened #45 "Maintaining App Roles in both SPA and API"
# Issue

## This issue is for the sample

[code]

## This issue is for a

[code]

### Minimal steps to reproduce

### Any log messages given by the failure

### Expected/desired behavior

### Library version

### Browser and version

### Mention any other details that might be useful

[2022-01-14 13:09] BGajda13 commented on #45
I'm facing the same problem.

I haven't found any other better option than reading roles in App from access_token...

[2022-01-14 14:49] Thnslj commented on #45
Hi @BGajda13 . I also asked the same question here, but still not a good solution: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/4389

---

When are you reading the access_token? Do you immediately after login get an access_token and look in it? or do you try to call your api, then first then get the access_token?

[2022-01-14 17:09] bastek338 commented on #45
Hi @Thnslj, we use React in our project, but maybe this approach will work for you as well.

[code]

You can find more in these sources

[https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/acquire-token.md](url)
[https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-react/docs/hooks.md](url)

[2022-01-18 01:10] salman90 commented on #43
Hi @jag-sekhon,

Sorry for not getting back to you sooner. Please look at sample [ms-identity-javascript-angular-tutorial/5-AccessControl/1-call-api-roles/](https://github.com/Azure-Samples/ms-identity-javascript-angular-tutorial/tree/main/5-AccessControl/1-call-api-roles). In this scenario, you will find an example of an Angler (SPA) making (get, post, update, delete) calls to a secure web API.

[2022-01-20 15:02] jag-sekhon commented on #43
Hi Salman
    Thank you for replying back about this. We are using same approach to call api's. The issue is automatically adding the Auth/Bearer Token by HttpInterceptor. It gets added to GET,POST and OPTIONS but we have to manually add it to PUT and DELETE request as its not getting added there. We are not able to find out why this is happening or where do we need to set it up. We are using MSAL

[2022-01-21 02:02] salman90 commented on #43
@jag-sekhon can you check sample [3-2) Protect and call a web API on Azure AD B2C](https://github.com/Azure-Samples/ms-identity-javascript-angular-tutorial/tree/main/3-Authorization-II/2-call-api-b2c) . This sample demonstrates a todo-list (SPA) making (get, post, update, delete) calls to an ASP.NET Core API secured with Azure AD B2C. If the error persists after trying the sample, please share a p

[2022-02-08 00:05] #45 closed

[2022-02-09 09:50] subrem opened #78 "cd ../ cd API dotnet run"
# Issue

## This issue is for the sample

[code]

## This issue is for a

[code]

### Minimal steps to reproduce

### Any log messages given by the failure

### Expected/desired behavior

### Library version

### Browser and version

### Mention any other details that might be useful

Thanks! We'll be in touch soon.

[2022-02-10 00:04] #44 closed

[2022-02-13 00:04] #43 closed

[2022-02-22 01:12] salman90 commented on #78
Hi @subrem, please let us know which sample is causing the issue and provide us with more information about the error to replicate it.

[2022-02-23 01:57] Layne101 commented on #78
I guess he meant to this sample (https://github.com/Azure-Samples/ms-identity-javascript-angular-tutorial/blob/main/3-Authorization-II/1-call-api/README.md#run-the-sample). I met it too.

[2022-02-23 02:15] Layne101 commented on #44
When trying this [smaple](https://github.com/Azure-Samples/ms-identity-javascript-angular-tutorial/blob/main/3-Authorization-II/1-call-api/README.md#run-the-sample), I met the same issue here.
<img width="505" alt="image" src="https://user-images.githubusercontent.com/69224018/155251265-d3b68e76-a703-4e0b-acd0-ef01b4f0bdb5.png">

[2022-02-23 16:05] salman90 commented on #78
[@Layne101](https://github.com/Layne101) and [@subrem](https://github.com/subrem), thanks for flagging this issue. We will update the doc as soon as possible. For now, please ``` cd API/TodoListAPI ``` after that ```dotnet run```

[2022-03-17 00:05] #78 closed

[2022-04-26 13:44] markp24 opened #150 "What is the purpose of AzureAd:Roles in appsettings.json?"
# Issue

## This issue is for the sample

[code]

## This issue is for a

[code]

### Minimal steps to reproduce

"AzureAd": {
    "Instance": "https://login.microsoftonline.com/",
    "Domain": "Enter the domain of your Azure AD tenant, e.g. 'contoso.onmicrosoft.com'",
    "TenantId": "Enter the ID of your Azure AD tenant copied from the Azure portal",
    "ClientId": "Enter the application ID (c

[2022-04-28 21:31] salman90 commented on #150
Hi @markp24 , you're correct. The roles in appsettings.json are not used. I will remove them from the sample. We provide static values to help with the logic for the example provided in the readme. For example, we use the roles in the RoleGuard to specify the user's role that can access the route.

[2022-05-02 00:05] salman90 commented on #150
@markp24 Thanks

[2022-05-02 00:05] #150 closed

[2022-05-23 14:36] MatthewDavidCampbell opened #168 "Token for delegated API permission from one application registration to another"
Original question was badly formulated and after a good night's sleep how grab tokens for multiple scopes on different API permissions had nothing to do with the 2-Authorization, 1-call-graph sample.  Sorry.

[2022-05-24 06:42] MatthewDavidCampbell commented on #168
Issue can be deleted.

[2022-05-24 15:01] salman90 commented on #168
@MatthewDavidCampbell no worries, please let us know if you face any additional challenges

[2022-05-24 15:01] #168 closed

[2022-06-01 14:44] archubbuck opened #169 "npm start not working, generating browser application bundles digital envelope routines::unsupported"
# Issue

## This issue is for the sample

[code]

## This issue is for a

[code]

### Minimal steps to reproduce

### Any log messages given by the failure

[code]

### Expected/desired behavior

### Library version

### Browser and version

### Mention any other details that might be useful

[code]

[2022-06-01 15:49] derisen commented on #169
@archubbuck this error seems to be related to Node versions (17+) that are not LTS. Switching to an LTS version would be the quickest solution, but we do need to update our Angular samples eventually (apologies for that, it's in the backlog but we couldn't start on it yet).

[2022-06-07 07:04] Depechie opened #180 "When using the MSALGuard and RoleGuard on a route, the Role guard will allow access even if the user does not have the correct role"
# Issue

When using the MSALGuard and RoleGuard on a route, the Role guard will allow access even if the user does not have the correct role!
This is due to the fact that there is no guard sequence in Angular.

## This issue is for the sample

[code]

## This issue is for a

[code]

### Minimal steps to reproduce

Change the sample so that the root of the app also needs the MSALGuard, this will tr

[2022-06-07 16:59] derisen commented on #180
@Depechie thank you so much for catching this. Let me try to reproduce it and get back to you.

[2022-06-22 05:49] Depechie commented on #180
Comment for getting out off the stale bot

[2022-06-23 00:06] #169 closed

[2022-06-24 09:16] Depechie commented on #180
Hey @derisen so I uploaded a basic sample here: https://github.com/SanITy-BV/BirdAtlas-frontend/tree/guard
I also recorded the logging with an animated gif, you can follow along here: https://raw.githubusercontent.com/SanITy-BV/BirdAtlas-frontend/guard/Animation.gif

So when the app is first started, the MSAL guard will kick in and do a redirect to the login flow, this works perfectly. But when th

[2022-06-27 16:49] derisen commented on #180
thanks @Depechie looking at this now -will get back

[2022-07-04 18:23] derisen commented on #180
@Depechie apologies for the late response, we've been unusually busy these days. I can reproduce this with the repo you shared. It seems this is simply not a scenario we've considered i.e. enabling `RoleGuard` for the main route where the user signs into.

My understanding is that, in the sample from this repo, when a user hits a component route that has `MsalGuard` and `RoleGuard` enabled (like `

[2022-07-04 18:33] Depechie commented on #180
Thanks @derisen for the detailed response! No worries about the actual timing of any samples. At least I'm getting info and am very glad it was not something I did wrong in the setup ( could always have missed something ).

As off the use case, well... we just want to be sure that IF a user get's hold of a url all guards are validated. In our case this also means checking that you are at least in

[2022-07-04 18:48] derisen commented on #180
That's fair enough. What I'm thinking is that it might be better to use a single custom guard that combines `MsalGuard` and `RoleGuard`, though I can also see the merit of getting multiple guards to work in tandem. There's an [understanding](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/docs/v2-docs/msal-guard.md) that `MsalGuard` will not only be abl

[2022-07-04 18:51] Depechie commented on #180
Combining in a single one would be a perfect solution for use!
Not done that though for MSAL, is there an example for that scenario maybe?

[2022-07-04 19:47] derisen commented on #180
I'm afraid not at the moment. There was also a [feature request](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/3406) for extending `MsalGuard`, but nothing has been delivered on this so far. I suppose you can copy paste the [MsalGuard code](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/src/msal.guard.ts) into a guard and ad

[2022-07-08 20:16] CARMINESCA opened #183 "MSAL redirect Login When click public action Controller"
Hi,
I have an Angular 14 project and a WEB API .Net Core 6.
I have successfully configured Azure Ad B2C.
I have a problem when I need to access a public controller action.
I have 2 controllers:
AzurrController, private.
PublicController, public

When I call a Public controller action and I am not logged in, the system asks me to login.
I have entered the scope to null for public urls in the protec

[2022-07-10 18:11] #183 closed

[2022-07-19 00:26] derisen commented on #180
keep open

[2022-09-07 01:34] #180 closed

[2022-09-07 01:35] derisen commented on #180
@Depechie this should now be fixed, using a custom guard based on MsalGuard. Thanks again for catching this!

[2022-09-07 06:11] Depechie commented on #180
Hey @derisen could you elaborate a bit more?
Has something changed since your original response ( https://github.com/Azure-Samples/ms-identity-javascript-angular-tutorial/issues/180#issuecomment-1174196604 ), in other words is there now more guidance on creating those custom guards maybe?

Not keeping track of all the MSAL updates, so could be I'm missing obvious of course :)

[2022-09-07 17:06] derisen commented on #180
@Depechie of course, my bad. Right now the updated sample is using a [custom guard](https://github.com/Azure-Samples/ms-identity-javascript-angular-tutorial/blob/main/5-AccessControl/1-call-api-roles/SPA/src/app/base.guard.ts) based on MsalGuard (pretty much copy/paste), and then extending it in a [role guard](https://github.com/Azure-Samples/ms-identity-javascript-angular-tutorial/blob/main/5-Acc

[2022-09-07 17:47] Depechie commented on #180
Thanks! Will take a look as soon as I find some time!

[2022-09-12 06:45] patolax opened #197 "Forget passeword returns with AADB2C error code"
When I ran the following sample code, I can login and logout without any issues. However, when I click on "Forgot your password?" link it redirects back with` server_error: AADB2C: An exception has occurred.` see below.
https://github.com/Azure-Samples/ms-identity-javascript-angular-tutorial/tree/main/3-Authorization-II/2-call-api-b2c

![image](https://user-images.githubusercontent.com/29444156/18

[2022-09-12 22:01] derisen commented on #197
@patolax are you using the [self-service password reset flow](https://docs.microsoft.com/azure/active-directory-b2c/add-password-reset-policy?pivots=b2c-user-flow#self-service-password-reset-recommended) or [the legacy flow](https://docs.microsoft.com/en-us/azure/active-directory-b2c/add-password-reset-policy?pivots=b2c-user-flow#password-reset-policy-legacy)? This sample is using self-service. If

[2022-09-13 00:27] patolax commented on #197
Thanks, that resolved both.

If we initiate a password reset from the application and at the b2c reset page user clicks on cancel and subsequently gets redirected to the app, at that point it seems to be user is not authnticated anymore. `"@azure/msal-angular@2.4.2 : Error - Guard - error while logging in, unable to activate"`. None of the routes work, nor api calls.

this error is also logged.

!

[2022-09-13 21:26] derisen commented on #197
@patolax thanks for catching the error. We apparently didn't handle the exception thrown when the user clicks cancel. Made a note to update the sample for this case.

Regarding the UI, I'm not entirely sure how much of it is customizable. Can you please refer to: [Customize the user interface in Azure Active Directory B2C](https://docs.microsoft.com/azure/active-directory-b2c/customize-ui?pivots=b

[2022-09-19 17:50] dapathy opened #199 "Document recommend approach for calling web API using PoP tokens"
# Issue

Please document recommended approach for calling an API with an access token acquired via proof of possession using server nonce:

[https://github.com/Azure-Samples/ms-identity-javascript-angular-tutorial/tree/main/7-AdvancedScenarios/2-call-api-pop](https://github.com/Azure-Samples/ms-identity-javascript-angular-tutorial/tree/main/7-AdvancedScenarios/2-call-api-pop)

## This issue is for

[2022-09-20 02:53] salman90 commented on #199
Hi @dapathy, we are still working on implementing proof of possession with MSAL. The item is currently in our backlog, and once the feature is updated in MSAL, we will update the sample.

[2022-09-23 02:09] derisen commented on #199
@dapathy apologies for the confusion. We have decided instead to archive the sample, as the proof of possession feature is not fully ready for the public consumption. If you really need, the sample is still available on [another branch](https://github.com/Azure-Samples/ms-identity-javascript-angular-tutorial/tree/pop-sample-archive), but we won't be able to update it in the foreseeable future.

Cl

[2022-09-23 02:09] #199 closed

[2022-09-26 15:11] SilviuMihai opened #210 "API Issue - 500 Error"
# Issue

## This issue is for the sample

[code]

## This issue is for a

[code]

### Minimal steps to reproduce

So I managed to register a user and log in, but it fails when I am trying to reach the Todo List.(access the API)

### Any log messages given by the failure

An unhandled exception occurred while processing the request.
UriFormatException: Invalid URI: The format of the URI could not b

[2022-09-27 01:59] derisen commented on #210
That's right, it should be replaced with the scope name (but not the entire scope e.g. `api://xxxxx-xxxx-xxxx-xxxx/access_as_user `vs `access_as_user`)

They are not the same thing no.
Instance will be: `tenantname.b2clogin.com `
Domain will be: `tenantname.onmicrosoft.com `

That's right!

Sorry for the confusion. Does this help?

[2022-09-27 18:07] derisen commented on #210
Thanks for the feedback! Will make sure to update the README to clarify this.

[2022-09-29 13:19] sebastianlung opened #211 "Group claims not added"
# Issue

## This issue is for the sample

[code]

## This issue is for a

[code]

### Minimal steps to reproduce

After following the instructions the group claims are not added.
We are using ApplicationGroups, so there should only be one group in the claim.
I saw some missmatches within the documentation and the file names.

### Any log messages given by the failure

No group claims added

### Ex

[2022-09-29 20:09] salman90 commented on #211
Hi @sebastianlung , thanks for reaching out. From my understanding, the issue you're facing is that you're not receiving the groups id in the token claims. Please ensure that the token configuration is set to `Groups assigned to the application` for both the SPA and API application registration from the Azure portal. Also, you have to assign the groups to applications. Check the following [section

[2022-09-30 05:44] sebastianlung commented on #211
Hi @salman90, we did the steps and also the "groups assigned to the application" flag is set, but the group claims are still missing. We managed to get it work with a differnet example. So I think there is some issue within the project.

[2022-09-30 18:21] salman90 commented on #211
Hi  @sebastianlung, I ran the project and managed to get the group claims in my tokens. If the group claims are not showing in the id-token and access-token, this is an issue with token configuration, and the project has no control over it. Please make sure you did the following steps:

  1. Configured the token to `Groups assigned to the application`  from the application registrations.
  2.  Add

[2022-10-06 00:11] #197 closed

[2022-10-12 23:38] #210 closed

[2022-10-22 00:11] #211 closed

[2022-11-02 15:23] Depechie commented on #180
@derisen just wanted to circle back that this works great!
But true, now having that baseGuard directly in our code would be nice to get rid off once the base lib has a guard that is extendable.

[2022-11-04 17:18] derisen commented on #180
Sounds great! Still working on making this extensible by default, hopefully will get this in to msal-angular